.container {
  box-shadow: 0 0 6px 3px darkgray;
  margin-top: 50px;
  width: 750px
}

.container > h1 {
  text-align: center;
}

.input-container {
  /* background-color: aquamarine; */
  padding-top: 25px;
  margin: auto;
  max-height: 163px;
  height: 500px;
  width: 600px;
}
.todo-input {
  margin-bottom: 20px;
}

.list {
  display: flex;
  /* background-color: coral; */
}
.listContainer {
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}

.list .todo {
  margin-top: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-bottom: 15px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgb(102, 102, 102);
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(82, 82, 82);
}